/*  특정 버튼을 눌러서 클래스가 적용되면 전체화면 가로로  */
:root {
  --columns: 5;
  --rows: 5;
  --ishtml: "none";
}

.input-div {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .input-div {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.input-span {
  font-size: 2.5rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1818186b;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.items-container {
  display: grid;
  padding: 20px;
  margin-bottom: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: repeat(var(--rows), 1fr);
  grid-gap: 10px;
}

.blackboard {
  margin-top: 20px;
  width: 80%;
  height: 20px;
  border: 1px solid #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: #006400c4;
}

.blackboard-area {
  display: flex;
  justify-content: center;
}

.title-div {
  display: flex;
  justify-content: center;
  margin: 70px 0 20px 0;
}

.contentChangeBtn-div {
  float: right;
  position: absolute;
  margin-top: 20px;
  right: 20px;
}

.num-input {
  width: 40px;
  font-size: 1.3rem;
  text-align: center;
  margin: 0 15px;
}

.remain-student {
  margin: 7px;
  width: 22px;
  background-color: #d4e8dc;
  border-radius: 15px;
  padding: 2px;
}

.remain-student-div {
  display: flex;
  width: 100%;
  margin: 10px 0;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.gameMenu-btn {
  margin-top: 70px;
}

.gameMenu {
  margin: 10px;
  line-height: 35px;
  word-break: keep-all;
}
