/* 특정 버튼을 눌러서 클래스가 적용되면 전체화면 가로로 */
/* @media (orientation: portrait) and ( 클래스 명 ) {
  html {
    transform: rotate(-90deg);
    transform-origin: top left;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vh;
    height: 100vw;
  }
} */

.input-div {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}
