.button-student {
  width: 25%;
  margin: 5px 10px;
  font-size: 1.2em;
  border-radius: 20px;
  border-width: 0;
  letter-spacing: 1px;
  padding: 2vh;
  background-color: #e9cfcc;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.checklist-student {
  width: 70px;
  margin: 4px;
  font-size: 1em;
  border-radius: 15px;
  border-width: 0;
  letter-spacing: -1px;
  padding: 1.5vh;
  background-color: #e9cfcc;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
