.button-student,
.button-student-manageEach {
  width: 85px;
  margin: 3px 5px;
  font-size: 1.1em;
  border-radius: 20px;
  border-width: 0;
  letter-spacing: -1px;
  padding: 13px 15px;
  background-color: #e9cfcc;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.button-student-manageEach {
  width: 65px;
  font-size: 1rem;
  margin: 3px;
}

.checklist-student {
  width: 68px;
  margin: 4px;
  font-size: 1em;
  border-radius: 15px;
  border-width: 0;
  letter-spacing: -1px;
  padding: 1.5vh;
  background-color: #da9a9a4a;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

@media screen and (min-width: 800px) {
  .button-student {
    width: 100px;
    margin: 3px 5px;
    font-size: 1.3rem;
    border-radius: 20px;
    border-width: 0;
    letter-spacing: -1px;
    padding: 15px;
    background-color: #e9cfcc;
    display: flex;
    justify-content: center;
    white-space: nowrap;
  }
}
