.inputArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-name {
  margin-left: 3%;
  width: 80px;
  height: 30px;
  padding: 10px;
  font-size: 1.1em;
  font-family: "GowunDodum";
  overflow-y: hidden;
  resize: none;
  text-align: center;
}

.input-num {
  margin-left: 3%;
  width: 40px;
  height: 30px;
  padding: 10px;
  font-size: 1.1em;
  font-family: "GowunDodum";
  overflow-y: hidden;
  resize: none;
  text-align: center;
}
.studentListArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.addStudentInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.span-highlight {
  color: #de0505;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0px 5px;
}

.hr {
  margin: 15px;
  border-width: 1px;
  background-color: #80808073;
  height: 1px;
  width: 85vw;
}

.span-explain {
  line-height: 2;
}

.span-title {
  font-size: 1.4em;
}

.div-explain {
  display: flex;
  flex-direction: column;
}

.genderExample {
  background-color: #efcacf8c;
  border-radius: 10px;
  width: 35px;
  margin: 8px 5px;
  height: 30px;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.deleteAll-div {
  display: flex;
  justify-content: center;
}

.class-select {
  width: 100px;
  height: 50px;
  font-size: 1.1rem;
  text-align: center;
}

.studentBgColorInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
