.inputArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-name {
  margin-left: 3%;
  width: 90px;
  height: 30px;
  padding: 10px;
  font-size: 1.1em;
  font-family: "GowunDodum";
  overflow-y: hidden;
  resize: none;
  text-align: center;
}

.input-num {
  margin-left: 3%;
  width: 45px;
  height: 30px;
  padding: 10px;
  font-size: 1.1em;
  font-family: "GowunDodum";
  overflow-y: hidden;
  resize: none;
  text-align: center;
}
.studentListArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.addStudentInputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-highlight {
  color: #de0505;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0px 5px;
}

.hr {
  margin: 15px;
  border-width: 1px;
  background-color: #80808073;
  height: 1px;
  width: 80vw;
}

.span-explain {
  line-height: 2;
}

.span-title {
  font-size: 1.4em;
}
