.ImgTextChange-btn {
  background-color: inherit;
  border-width: 0;
  font-size: 1.3rem;
}

.image-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageTitle-div {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.title-p {
  font-size: 1.3rem;
  display: flex;
  margin: 20px;
  width: 230px;
  word-break: keep-all;
}

.addImage-span {
  margin-right: 10px;
  font-size: 1.1rem;
}

.saveSimsim-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
