.ImgTextChange-btn {
  background-color: inherit;
  border-width: 0;
  font-size: 1.3rem;
}

.image-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageTitle-div {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.title-p {
  font-size: 1.7rem;
  display: flex;
  margin: 20px;
  width: auto;
  word-break: keep-all;
}

.p {
  font-size: 1.2rem;
  display: flex;
  margin: 20px;
  width: auto;
  word-break: keep-all;
}

.addImage-span {
  margin: 0 10px;
  font-size: 1.1rem;
}

.saveSimsim-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
