.ImgTextChange-btn {
  background-color: inherit;
  border-width: 0;
  font-size: 1.3rem;
}

.ImgTextChange-btn:hover {
  padding: 10px;
  border-radius: 15px;
  background-color: #ff660096;
}

.form {
  background-color: #eaeaea;
  padding: 25px;
  border-radius: 20px;
}

.image-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageTitle-div {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.title-p {
  font-size: 1.7rem;
  display: flex;
  margin: 20px;
  width: auto;
  word-break: keep-all;
}

.p {
  margin-top: -20px;
  word-break: keep-all;
  font-size: 1.2rem;
}

.b {
  font-size: 1.5rem;
}

.addImage-span {
  margin: 0 10px;
  font-size: 1.1rem;
}

.saveSimsim-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
