.exit-btn {
  position: absolute;
  top: 85px;
  right: 6%;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-width: 0;
  background-color: #e2e2e2;
}

.board-all {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.board {
  margin: 20px 0;
  width: 98%;
}

.alarm-all {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events-today {
  padding: 5px 10px;
  border-width: 0 0 5px;
  color: rgba(18, 2, 0, 0.951);
  border-style: solid;
  border-color: rgb(241, 227, 145);
}

.date {
  width: auto;
  font-size: 1.5rem;
}

.setting {
  font-size: 0.8rem;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  width: 65px;
  color: whitesmoke;
  align-items: center;
}

.mg-5 {
  margin: 5px;
}

.fontSize-div {
  background-color: #595959c4;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.btn,
.btn-clicked {
  border-radius: 10px;
  background-color: #e4e4e4;
  border-width: 0;
  padding: 2px 10px;
}

.btn-clicked {
  background-color: #c7ff24;
}

@media screen and (min-width: 800px) {
  .setting {
    width: 105px;
  }
}
