.li-section {
  list-style: none;
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.class-section {
  width: 30%;
  margin-top: 10px;
}

.classNote-section {
  width: 50%;
  margin-top: 10px;
}

.title-section {
  width: 20%;
}
.fs-09 {
  font-size: 0.9rem;
}

.title-bold {
  font-weight: bold;
}
