.big-menu {
  width: 40vw;
  height: 23vh;
  margin: 15px;
  font-size: 1.7em;
  border-radius: 30px;
  border-width: 5px;
  border-color: #703e29;
  letter-spacing: 5px;
  font-family: "GowunDodum";
}

.small-student {
  width: 50%;
  margin: 5px 10px;
  font-size: 1.1em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 1px;
  padding: 1.5vh;
  background-color: #ffbec7;
  font-family: "GowunDodum";
}

.header-logInOut {
  font-family: "GowunDodum";
  background-color: #4621123d;
  border-radius: 8px;
  border-width: 0;
  padding: 10px;
  margin: 1px;
  color: azure;
}

.big-menu:nth-child(even) {
  background-color: #f79089;
}

.big-menu:nth-child(odd) {
  background-color: #ffbec7;
}

.choose-studentBtn {
  width: 50%;
  margin: 5px 10px;
  font-size: 1.1em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 1px;
  padding: 2vh;
  background-color: #ffbec7;
  font-family: "GowunDodum";
}

.event-fix-btn {
  width: 35%;
  margin: 5px 10px;
  font-size: 1.1em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 1px;
  padding: 1.5vh;
  background-color: #ffbec7;
  font-family: "GowunDodum";
}
