.big-menu {
  width: 40vw;
  height: 23vh;
  margin: 15px;
  font-size: 1.7em;
  border-radius: 30px;
  border-width: 5px;
  border-color: #703e29;
  letter-spacing: 5px;
}

.small-student {
  width: 50%;
  margin: 5px 10px;
  font-size: 1.1em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 1px;
  padding: 1.5vh;
  background-color: #ffbec7;
}

.header-logInOut {
  white-space: pre-wrap;
  background-color: #4621123d;
  border-radius: 8px;
  border-width: 0;
  padding: 3px;
  margin: 1px;
  color: azure;
  letter-spacing: -0.1em;
}

.big-menu:nth-child(even) {
  background-color: #f79089;
}

.big-menu:nth-child(odd) {
  background-color: #ffbec7;
}

.choose-studentBtn {
  width: 50%;
  margin: 5px 10px;
  font-size: 1.1em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 1px;
  padding: 2vh;
  background-color: #ffbec7;
}

.event-fix-btn {
  width: 35%;
  margin: 5px 10px;
  font-size: 1.1em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 1px;
  padding: 1.5vh;
  background-color: #ffbec7;
}

.consultEditBtn {
  width: 30%;
  margin: 5px;
  font-size: 1.1em;
  border-radius: 10px;
  border-width: 0;
  padding: 4vw;
  height: 4vw;
  background-color: #c4c13f47;
}

.student-add {
  width: 60px;
  height: 50px;
  margin-left: 20px;
  font-size: 1.1em;
  border-radius: 10px;
  border-width: 0;
  background-color: #993fc447;
}

.student-remove {
  width: 30%;
  height: 35px;
  margin-right: 10px;
  font-size: 1em;
  border-radius: 10px;
  border-width: 0;
  background-color: #993fc447;
}

.student-save {
  width: 60px;
  height: 50px;
  margin-left: 20px;
  font-size: 1.1em;
  border-radius: 10px;
  border-width: 0;
  background-color: #993fc447;
}

.add-event-button {
  width: 50%;
  margin: 15px 10px;
  font-size: 1.2em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 1px;
  padding: 2vh;
  background-color: #ffbec7;
}

.save-checkItem-button {
  width: 35%;
  margin: 5px;
  font-size: 1.2em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 7px;
  padding: 1.5vh;
  background-color: #da9a9a;
  float: right;
}

.checkList-button {
  width: 28px;
  margin: 5px;
  font-size: 0.9em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: -1px;
  padding: 1vh;
  background-color: #da9a9a;
}

.del-checkItem-button {
  width: 35%;
  margin: 5px;
  font-size: 1.2em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 7px;
  padding: 1.5vh;
  background-color: #da9a9a;
  float: left;
}
