.big-menu {
  width: 40vw;
  height: 20vh;
  margin: 10px;
  font-size: 1.7em;
  border-radius: 30px;
  border-width: 5px;
  border-color: #703e29;
  letter-spacing: 5px;
}

.small-student {
  width: 45px;
  margin: 5px 6px;
  font-size: 0.9em;
  border-radius: 15px;
  border-width: 0;
  letter-spacing: 1px;
  padding: 10px;
  background-color: #ffbec7;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #454545;
}

.header-logInOut {
  white-space: pre-wrap;
  background-color: #4621123d;
  border-radius: 8px;
  border-width: 0;
  padding: 10px;

  margin: 1px;
  color: azure;
  letter-spacing: -0.1em;
}

.big-menu:nth-child(even) {
  background-color: #f79089;
}

.big-menu:nth-child(odd) {
  background-color: #ffbec7;
}

.choose-studentBtn,
.consult-relatedStdBtn {
  width: 40%;
  margin: 5px 10px;
  font-size: 1.1em;
  border-radius: 15px;
  border-width: 0;
  letter-spacing: 1px;
  padding: 10px;
  background-color: #ffbec7;
  height: 50px;
}

.consult-relatedStdBtn {
  width: 105px;
  height: 65px;
  background-color: #85bd82;
  margin: 0;
}

.consultEditBtn {
  width: 20px;
  margin: 5px;
  font-size: 1.1em;
  border-radius: 20px;
  border-width: 0;
  padding: 20px;
  height: 20px;
  background-color: #7ac43f2b;
}

.student-add {
  width: 80px;
  height: 50px;
  margin-left: 20px;
  font-size: 1rem;
  border-radius: 10px;
  border-width: 0;
  background-color: #993fc447;
}

.student-remove {
  width: 30%;
  height: 35px;
  margin-right: 5px;
  font-size: 1em;
  border-radius: 10px;
  border-width: 0;
  background-color: #993fc447;
}

.student-save,
.student-save-uploaded {
  width: 80px;
  height: 50px;
  margin-left: 20px;
  font-size: 1.1em;
  border-radius: 10px;
  border-width: 0;
  background-color: #7632d591;
}

.student-save-uploaded {
  background-color: #7632d5;
  color: whitesmoke;
  width: 120px;
  height: 60px;
}

.add-event-button,
.check-memo-button {
  width: auto;
  margin: 10px 5px;
  word-break: keep-all;
  font-size: 1.2em;
  border-radius: 30px;
  border-width: 0;
  letter-spacing: 1px;
  padding: 1.6vh;
  background-color: #ffbec7;
  box-shadow: 3px 5px 0 #d2877b;
}

.check-memo-button {
  width: 50px;
  margin: 10px 6px;
  display: flex;
  justify-content: center;
  height: 42px;
  align-items: center;
}

.add-event-button:active {
  background-color: #d999a2;
  box-shadow: 1px 2px 0 #ba616d;
  position: relative;
  top: 3px;
  left: 2px;
}

.save-checkItem-button {
  width: 35%;
  margin: 5px;
  font-size: 1.2em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 7px;
  padding: 1.5vh;
  background-color: #da9a9a;
  float: right;
}

.checkList-button,
.checkList-button-man,
.events-save {
  width: auto;
  margin: 5px;
  font-size: 0.9em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: -1px;
  padding: 1vh;
  background-color: #da9a9a4a;
}

.checkList-button-man {
  background-color: #256a7233;
}

.listMemoNoInputStd-btn,
.listMemoNoInputStd-btn-man {
  width: auto;
  margin: 2px;
  font-size: 0.5em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: -1px;
  padding: 3px;
  background-color: #da9a9a4a;
}

.listMemoNoInputStd-btn-man {
  background-color: #256a7233;
}

@media screen and (min-width: 800px) {
  .listMemoNoInputStd-btn,
  .listMemoNoInputStd-btn-man {
    margin: 5px;
    font-size: 0.9em;
    padding: 1vh;
  }
}

.events-save {
  font-size: 1.1rem;
  padding: 2vh;
  width: 25vw;
  background-color: #da9a9acf;
}

.del-checkItem-button {
  width: 35%;
  margin: 5px;
  font-size: 1.2em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 7px;
  padding: 1.5vh;
  background-color: #da9a9a;
  float: left;
}

.stdInfo-btn {
  color: white;
  background-color: #1b5157;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1rem;
  margin: 5px;
  border-width: 0;
}

.sortBtn,
.sortBtn-del,
.sortBtn-consult {
  width: auto;
  height: 50px;
  margin: 5px;
  font-size: 0.9em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: -1px;
  padding: 10px;
  background-color: #da9a9a3b;
}

.sortBtn-del {
  height: 43px;
}

.sortBtn-consult {
  background-color: #eceab0;
}

.sortBtn-clicked {
  width: auto;
  margin: 5px;
  font-size: 1.3em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: -1px;
  padding: 15px;
  background-color: #da9a9a9c;
}

.save-listMemo-button {
  width: 13%;
  margin: 5px;
  font-size: 0.7em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: -1px;
  padding: 20px 15px;

  background-color: #da9a9a;
}

.studentAddBtn {
  width: auto;
  height: 50px;
  margin: 10px 2px;
  font-size: 1.3em;
  border-width: 0;
  background-color: inherit;
}

@media screen and (min-width: 620px) {
  .save-listMemo-button {
    font-size: 1em;
  }
}

.change-submit-button {
  width: auto;
  font-size: 1.1em;

  border-radius: 10px;
  border-width: 0;
  padding: 1vh 2vh;
  background-color: #ffbec7;
}

.main-studentPage,
.main-noStudentPage {
  width: auto;
  margin: 7px;
  font-size: 1.1em;
  border-width: 0;
  letter-spacing: 1px;
  padding: 1vh;
  background-color: inherit;
  color: rgba(18, 2, 0, 0.951);
}

.main-noStudentPage {
  box-shadow: inset 0px -5px #e3371d66;
}

.down-classItem-button,
.save-classItem-button,
.show-basicClass-button,
.save-classTable-button,
.reset-cl-button,
.time-pm-button {
  width: 25%;
  height: 6vh;
  margin: 5px 10px;
  font-size: 1rem;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 2px;
  padding: 0.5vh;
  background-color: #9fd9dc;
  float: right;
}
.reset-cl-button {
  width: 33%;
}

.excelSave-button,
.change-checkList-button,
.change-checkList-button-clicked,
.change-listMemo-button-clicked,
.change-listMemo-button {
  width: auto;
  background-color: #f3feff;
  height: auto;
  padding: 10px;
  position: absolute;

  margin: 5px 10px;
  font-size: 1rem;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 2px;
}
.change-checkList-button {
  left: 5px;
  background-color: #1b5157;
}

.change-checkList-button-clicked {
  left: 5px;
  font-weight: bold;
  font-size: 1.3rem;
}

.change-listMemo-button {
  left: 75px;
  background-color: #1b5157;
}

.change-listMemo-button-clicked {
  left: 75px;
  font-weight: bold;
  font-size: 1.3rem;
}

.excelSave-button {
  right: 2%;
}

.down-classItem-button {
  width: 165px;
  background-color: #f3feff;
  padding: 1.5vh;
  height: auto;
  font-size: 0.8rem;
}

.show-basicClass-button {
  width: 35%;
}

.time-pm-button {
  width: 50px;
  border-radius: 25px;
}

@media screen and (min-width: 800px) {
  .down-classItem-button {
    width: 190px;
  }
}

.save-classTable-button {
  width: 80px;
  font-size: 1.1rem;
  height: 50px;
  margin: 20px 10px;
  position: absolute;
  top: 60px;
  border-radius: 15px;
}
.reset-cl-button {
  font-size: 1rem;
  height: 6vh;
  width: 45%;
}

.settingSeat {
  width: auto;
  margin: 15px;
  font-size: 1.5rem;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 2px;
  padding: 25px;
  background-color: #c3da9a;
}

.settingSeat-btn {
  width: auto;
  font-size: 1.1rem;
  padding: 12px;
  margin-left: 15px;

  background-color: #c3da9a;
  border-radius: 5px;
  border-width: 0;
}

.saveSimsim-btn {
  padding: 10px;
  color: #ffffff;
  background-color: #ff6600;
  border-width: 0;
  font-size: 1.3rem;
  width: 80px;
  height: 55px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-random-btn,
.switch-random-btn-selected {
  width: auto;
  font-size: 1rem;
  padding: 12px;
  margin: 0 5px;
  background-color: #dac69a;
  border-radius: 5px;
  border-width: 0;
}

.switch-random-btn-selected {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 15px;
}

.board-input {
  background-color: #ffffff00;
}

.missionEditBtn {
  padding: 10px;
  background-color: inherit;
  border-width: 0;
  color: #ff7920c2;
  font-size: 1.2rem;
}

.replyAddBtn {
  padding: 10px;
  color: #ff7920c2;
  background-color: inherit;
  border-width: 0;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.freeMemo-add,
.freeMemoCategory-add,
.freeMemo-add-basic {
  padding: 10px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  border-width: 0;
  background-color: #ef1179;
  color: whitesmoke;
  font-size: 1rem;
}

.freeMemo-add-basic {
  width: auto;
}

.freeMemo-category,
.freeMemo-category-edit,
.freeMemo-saveDelete {
  width: auto;
  height: 50px;
  margin: 5px;
  font-size: 0.9em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: -1px;
  padding: 10px;
  background-color: #da9a9a3b;
  white-space: nowrap;
}

.freeMemo-category-edit {
  height: 40px;
  padding: 5px;
  background-color: inherit;
  font-size: 0.8em;
}

.freeMemo-saveDelete {
}

.manageBtn,
.manageBtn-clicked {
  border-width: 0;
  padding: 15px calc(20vw / 4);
  font-size: 1.2rem;
  border-radius: 10px 10px 0 0;
}

.manageBtn-clicked {
  background-color: rgb(37 106 114);
  color: whitesmoke;
  font-weight: bold;
}

.paperSub-btn-clicked,
.paperSub-btn,
.paperSub-btn-s,
.paperSub-btn-s-clicked {
  color: rgba(0, 0, 0, 0.623);
  background-color: whitesmoke;
  border-width: 0;
  font-size: 0.8rem;
  margin: 0px 5px;
  border-radius: 20px;
  padding: 5px 5px;
  font-weight: bold;
  width: 60px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.paperSub-btn-clicked {
  color: whitesmoke;
  background-color: rgb(255 90 113);
}

.paperSub-btn-s,
.paperSub-btn-s-clicked {
  background-color: inherit;
  width: auto;
}
.paperSub-btn-s-clicked {
  color: rgb(255 90 113);
}
