.react-datepicker {
  font-size: 1.3em;
  width: 95%;
  /* height: 75vh; */
  margin-left: 2%;
  margin-top: 5px;

  display: flow-root;
}
.react-datepicker__header {
  padding-top: 0.5rem;
  width: 100%;
  height: 10vh;
  background-color: #e9cfccd6;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
.react-datepicker__current-month {
  margin-bottom: 3px;
  margin-top: 0px;
}
.react-datepicker__day-names {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.react-datepicker__month {
  margin: 0;
  width: 100%;
  display: flex;
  min-height: 75%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.react-datepicker__week {
  display: flex;
  width: 95%;
  justify-content: space-between;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 14%;
  line-height: 1.9em;
  margin: 0.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.react-datepicker__current-month {
  font-size: 1em;
  font-weight: 400;
  margin: 0 10px;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}

.react-datepicker__day--today {
  background-color: #e7c300 !important;
  border-radius: 5px;
}

#switch-btn {
  display: flex;
  flex-direction: column;
  padding: 7px;
  color: #000000bd;
  line-height: 1.5;
}

#title-func-btns {
  height: 70px;
  display: flex;
  align-items: center;
  width: auto;
  justify-content: flex-end;
  line-height: 20px;
  font-size: 0.9rem;
}

@media screen and (min-width: 800px) {
  #switch-btn {
    width: 45px;
    line-height: 22px;
  }
}

.react-datepicker__day--disabled {
  width: 15px;
}

.custom-input {
  height: 50px;
  background-color: inherit;
  border-width: inherit;
  font-size: 0.9em;
}

.react-datepicker__month-dropdown {
  position: fixed;
  width: 35%;
  left: 50%;
  top: 30px;
  z-index: 5;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
  .custom-input {
    font-size: 1.3rem;
  }
}

.react-datepicker__month-container {
  /* min-width: 95vw; */
  /* min-height: 50vh; */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}

.react-datepicker__day--outside-month {
  color: #ccc;
}

.react-datepicker__day--keyboard-selected {
  background-color: inherit;
  color: inherit;
}

.react-datepicker__day--keyboard-selected:hover {
  background-color: #ffffff;
}

.react-datepicker__day--selected {
  background-color: #d38c85 !important;
}

.react-datepicker__day-name:nth-child(1),
.react-datepicker__day-name:nth-child(7) {
  width: 15px;
}

#title-btn {
  width: auto;
  margin: 5px 10px;
  font-size: 1.2em;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 1px;
  padding: 2vh;
  background-color: #dcc329;
  position: absolute;
  left: -5px;
}

#title-btn.consult {
  background-color: #95d532;
}

#title-div {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 85px;
  align-items: center;
}

#title-btn.upload {
  background-color: #7632d591;
}

#title-btn.todo {
  background-color: #d2877b;
}

.excel-upload-text {
  font-size: 0.6em;
}

#title-btn.mainSum {
  background-color: #91d1dc;
}

#title-btn.title-memo {
  background-color: #cc7bd2cc;
}

.react-datepicker__day--highlighted {
  background-color: #cc3d6f;
}

.react-datepicker__time-container {
  float: right;
  border: 1px solid #aeaeae;
  position: absolute;
  right: -125px;
  width: 125px;
  border-radius: 5px;
  font-size: 1rem;
}

.react-datepicker__time-box {
  width: 100% !important;
  margin: 0;
}

.react-datepicker__input-time-container {
  margin: 5px 0 5px 10px;
  text-align: center;
  font-size: 1rem;
  padding: 0 30px 0 0;
}
