.fileUploadBtn {
  font-size: 1.1em;
  font-family: "GowunDodum";
  width: 20%;
  padding: 20px;
  background-color: #ff6600;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 15px;
  text-align: center;
}
