.fileUploadBtn {
  font-size: 1.1em;
  width: auto;
  padding: 17px 12px;
  background-color: #334a52;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 15px;
  text-align: center;
}
.fileUploadBtn:hover {
  background-color: #1c292e;
  font-weight: bold;
}
