.fileUploadBtn {
  font-size: 1.1em;
  width: auto;
  padding: 17px;
  background-color: #ff6600;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 15px;
  text-align: center;
}
