.li {
  list-style: none;
  margin: 2px;
  font-size: 1.5em;
  color: #573020;
  font-weight: bold;
  padding: 10px;
}

.menuText {
  display: none;
}

@media screen and (min-width: 620px) {
  .menuText {
    font-size: 0.7em;
    display: flex;
  }
}
