.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  background-color: #f04617f0;
}

.h2 {
  margin-left: 10px;
  color: #ffe8c2;
  width: auto;
}

.menu-items {
  margin-left: 5px;
  display: inline-flex;
  padding: 0;
}

.menu-list {
  color: azure;
  padding: 8px 12px;
  font-size: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
  display: none;
}

.logInOut {
  padding: 0;
}

@media screen and (max-width: 450px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .h2 {
    margin-right: auto;
  }

  .menu-items {
    width: 100%;
    flex-direction: column;
    display: none;
  }
  .logInOut {
    display: none;
  }

  .menu-list {
    display: flex;
  }

  .menu-items.active {
    display: flex;
  }
}
