.li {
  list-style: none;
  margin: 5px 2px;
  font-size: 1.5em;
  color: #573020b3;
  font-weight: bold;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuText {
  font-size: 0.5em;
  display: flex;
}

@media screen and (min-width: 620px) {
  .menuText {
    font-size: 0.7em;
    display: flex;
  }
}

.profile-dropdown-ul {
  position: absolute;
  right: -4px;
  top: 65px;
  padding: 5px;
  width: 130px;
  list-style: none;
  background-color: #e2e2e2e8;
  border-radius: 10px;
  z-index: 50;
}

.profile-dropdown-ul-bottom {
  position: absolute;
  right: -4px;
  bottom: 65px;
  padding: 5px;
  width: 130px;
  list-style: none;
  background-color: #e2e2e2e8;
  border-radius: 10px;
  z-index: 10;
}

.profile-dropdown-li {
  margin: 5px;
  padding: 5px;
}

.profile-dropdown-li:hover {
  background-color: #dcb2a1f0;
  box-shadow: 1px 4px 0 #573020;
  border-radius: 10px;
}

.profile-dropdown-li:active {
  background-color: #dcb2a1f0;
  position: relative;
  top: 2px;
}

.profile-dropdown-div {
  position: relative;
}
