.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  background-color: #f04617f0;
}

.h2 {
  margin-left: 10px;
  color: #ffe8c2;
  width: auto;
}

.menu-lists {
  margin-left: 5px;
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  width: 70%;
}

.logInOut {
  padding: 0;
  display: flex;
  width: 50px;
}

.logoImg {
  width: 70px;
}

/* @media screen and (max-width: 470px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .h2 {
    margin-right: auto;
  }

  .menu-lists {
    width: 100%;
    flex-direction: column;
    display: none;
  }

  .logInOut {
    display: none;
  }

  .menu-list-btn {
    display: flex;
  }

} */
