input {
  padding: 10px;
  font-size: 1em;
}

.class-subject {
  height: 20px;
  width: 60%;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
}

.rowcolumn-input {
  width: 20%;
  margin: 20px;
  text-align: center;
  font-size: 4rem;
}

.simsim-Text,
.meetSum-Text {
  width: 75vw;
  font-size: 1.3rem;
  padding: 15px;
  height: 47px;
  overflow-y: hidden;
  resize: none;
  border-radius: 10px;
}

.meetSum-Text {
  width: 90%;
}

.class-memo {
  height: 23px;
  width: 85%;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 10px;
  overflow-y: hidden;
  resize: none;
}

.attendForm-input {
  width: 90%;
  padding: 10px;
  height: 26px;
  resize: none;
  overflow: hidden;
}

.memo-section {
  height: 25px;
  width: 50%;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 10px;
  overflow-y: hidden;
  resize: none;
}

@media screen and (min-width: 620px) {
  .memo-section {
    width: 74%;
  }
}

.simsimMain-input {
  height: 25px;
  width: 65%;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 10px;
  overflow-y: hidden;
  resize: none;
}

.board-input,
.board-input-half {
  color: whitesmoke;
  border-width: 0;
  font-size: 50px;
  overflow-y: hidden;
  width: 90%;
  border-radius: 20px;
  resize: none;
  min-height: 77vh;
  background-color: rgb(0, 51, 0);
  padding: 25px;
}

@media screen and (min-width: 800px) {
  .board-input {
    width: 95%;
  }
}

@media screen and (min-width: 1000px) {
  .board-input {
    width: 98%;
  }
}

.board-input-half {
}

.fs-80px {
  font-size: 80px;
}
.fs-70px {
  font-size: 70px;
}
.fs-60px {
  font-size: 60px;
}
.fs-50px {
  font-size: 50px;
}
.fs-40px {
  font-size: 40px;
}

.memoAdd-textarea {
  width: 90%;
  border: none;
  padding: 15px;
  transition: background-color 0.3s;
  height: 47px;
  overflow-y: hidden;
  resize: none;
  word-break: break-all;
  background-color: inherit;
}

.memoAdd-textarea:focus {
  outline: none;
  background-color: #ddddddba;
  border-radius: 10px;
}
