input {
  padding: 10px;
  font-size: 1em;
}

.class-subject {
  height: 20px;
  width: 30%;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
}

.rowcolumn-input {
  width: 20%;
  margin: 20px;
  text-align: center;
  font-size: 4rem;
}

.simsim-Text {
  width: 80vw;
  font-size: 1.3rem;
  padding: 15px;
  height: 47px;
  overflow-y: hidden;
  resize: none;
}

.class-memo {
  height: 23px;
  width: 85%;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 10px;
  overflow-y: hidden;
  resize: none;
}

.attendForm-input {
  width: 90%;
  padding: 10px;
  height: 26px;
}

.memo-section {
  height: 25px;
  width: 65%;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 10px;
  overflow-y: hidden;
  resize: none;
}

.simsimMain-input {
  height: 25px;
  width: 65%;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 10px;
  overflow-y: hidden;
  resize: none;
}
