.ul-section,
.date-title {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.date-title {
  align-items: center;
}

.li-section {
  display: flex;
  align-items: center;
}

.name-section {
  padding: 5px;
  width: 18%;
}

.num-section {
  width: 7%;
}

.memo-section {
  height: 25px;
  width: 65%;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 10px;
  overflow-y: hidden;
  resize: none;
}

.closeBtn {
  float: right;
  position: sticky;
  width: 10%;
}

.title-input {
  margin-left: 10px;
  width: 85%;
  font-size: 1.2rem;
  text-align: center;
  height: 3vh;
}

.saveBtn {
  width: 30%;
}

.upDownDiv {
  display: flex;
  margin: 5px;
  justify-content: center;
}

.x-classDiv {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holidayData {
  width: 94%;
  font-size: 0.5em;
  background-color: #dd3300d9;
  font-weight: bold;
  color: azure;
  border-radius: 10px;
  border-width: 0;
  padding: 3px;
  margin: 2px;
  white-space: pre-line;
}

.fs-1 {
  font-size: 1rem;
}

.title-section {
  display: flex;
  position: sticky;
  padding-top: 6px;
  top: -5px;
  opacity: 0.7;
  backdrop-filter: blur(30px);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.listMemo-closeBtn {
  margin-top: 0px;
  margin-bottom: 10px;
}

@media screen and (min-width: 620px) {
  .ul-section {
    font-size: 1.4em;
  }
}
