.ul-section,
.date-title,
.grade-section {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.grade-section {
  justify-content: center;
}

.date-title {
  align-items: center;
}

.li-section {
  display: flex;
  align-items: center;
}

.name-section {
  padding: 5px;
  width: 18%;
  max-width: 70px;
}

.num-section {
  width: 5%;
  max-width: 25px;
}

.gradeSelect-section {
  max-width: 90px;
  width: 25%;
}

.closeBtn {
  float: right;
  position: sticky;
  width: 10%;
}

.title-input {
  margin-left: 10px;
  width: 85%;
  font-size: 1.2rem;
  text-align: center;
  height: 3vh;
}

.saveBtn {
  width: 30%;
}

.upDownDiv {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.x-classDiv {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holidayData {
  width: 94%;
  font-size: 0.5em;
  background-color: #dd3300d9;
  font-weight: bold;
  color: azure;
  border-radius: 10px;
  border-width: 0;
  padding: 3px;
  margin: 2px;
  white-space: pre-line;
}

.fs-1 {
  font-size: 1rem;
}

.title-dateInputBtnDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title-section {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: -5px;

  width: 98%;
  justify-content: space-between;
  align-items: center;
  background-color: #efefefd6;
  border-radius: 15px;
  padding: 5px;
}

.listMemo-closeBtn {
  margin-top: 0px;
  margin-bottom: 10px;
}

@media screen and (min-width: 620px) {
  .ul-section {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1100px) {
  .name-section {
    width: 8%;
  }
}

.lineH-1 {
  line-height: 1px;
}

.scoreBtn {
  width: auto;
  margin: 15px;
  font-size: 1rem;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 3px;
  padding: 12px 25px;
  background-color: #ed8e64;
}

.btns-div {
  display: flex;
  justify-content: space-evenly;
}

.grade-input {
  width: 12%;
  min-width: 80px;
  margin: 5px;
}

.inputs-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .inputs-div {
    flex-direction: row;
    justify-content: center;
  }
}
