.schoolName-area {
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 1.1em;
}

.grade-area {
  width: 40px;
  text-align: center;
  height: 50px;
  font-size: 1.1em;
}

.publicPw-area {
  width: 100px;
  text-align: center;
  height: 50px;
  font-size: 1.1em;
}

.form-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeBtn {
  color: black;
  font-size: 1.3em;
  float: right;
}

.existed-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.span {
  margin: 5px 10px;
}

.explain-span {
  margin: 10px 3px;
}
