.schoolName-area {
  width: 70px;
  height: 40px;
  text-align: center;
  font-size: 1.1em;
  margin-right: 10px;
}

.grade-area {
  width: 30px;
  text-align: center;
  height: 40px;
  font-size: 1.1em;
  margin-right: 10px;
}

.publicPw-area {
  width: 65px;
  text-align: center;
  height: 40px;
  font-size: 1.1em;
}

.form-area {
  display: flex;
  width: 105%;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.header-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeBtn {
  color: black;
  font-size: 1.3em;
  float: right;
}

.existed-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.span {
  margin: 5px 10px;
}

.explain-span {
  margin: 10px 3px;
}
