.event-area,
.event-area-edit {
  margin-bottom: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.event-area {
  flex-direction: column;
  align-items: flex-start;
}
.titleDate-area {
  width: 80%;
  flex-direction: column;
}

.attendInfo-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.option-area {
  margin-left: 20px;
}

.optionChange-area {
  margin-left: 5%;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.button-area {
  display: flex;
  width: 100px;
  justify-content: center;
}

.note-area {
  width: 65%;
  text-align: center;
  height: 33px;
  resize: none;
  padding: 10px 5px;
  overflow: hidden;
  font-size: 1.1em;
  border-radius: 5px;
}

.optionNote-area {
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 10px;
}

.date-area {
  margin: -10px 0 10px 10px;
  line-height: 0;
}

@media screen and (min-width: 800px) {
  .date-area {
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.datePick-area {
  display: flex;
  align-items: center;
}

.event-clicked {
  height: auto;
}

.eventNameInput-area {
  text-align: center;
  height: 30px;
  font-size: 1.2em;
  margin: 10px;
  width: 70%;
  border-radius: 5px;
}
