.event-area {
  margin-bottom: 5px;
  border-radius: 15px;
}
.attendInfo-area {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.option-area {
  margin-left: 20px;
}

.optionChange-area {
  margin-left: 5%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.button-area {
  display: flex;
  width: 35%;
  justify-content: center;
}

.attendInfo-student {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.selected-student {
  font-size: 1.2em;
}

.eventNameInput-area {
  height: 40px;
  font-size: 1.2em;
  margin: 10px;
}
