.div {
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
}

.closeBtn {
  color: black;
  font-size: 1.3em;
  position: fixed;
  right: 20px;
}

.checkTitle {
  margin-left: 3%;
  border-radius: 5px;
  width: 80%;
  font-size: 1.2em;
}

.h3 {
  margin: 7px 3px;
  display: flex;
  justify-content: center;
}

.checkLi {
  margin-bottom: 10px;
  list-style: none;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.459);
}

.unsubmitArea {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.checkP {
  margin: 3px;
}

.memo-headerBtn {
  margin-right: 25px;
  font-size: 1.4em;
}

.listMemo-date {
  font-size: 0.8em;
  font-weight: normal;
  position: absolute;
  left: 10px;
  margin-left: 10px;
}

.listMemo-title {
  margin-top: 15px;
}

.headerBtn-text {
  display: none;
}

@media screen and (min-width: 620px) {
  .headerBtn-text {
    display: flex;
    font-size: 0.8em;
  }

  .checkLi {
    font-size: 1.2em;
  }
}
