.flex-center,
.flex-center-wrap,
.flex-center-all {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-center-all {
  align-items: center;
}

.flex-center-wrap {
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin10,
.margin10-wid95 {
  margin: 10px;
  width: 370px;
  display: flex;
}

.margin10-wid95 {
  width: 95%;
  flex-wrap: wrap;
}

.minwid-250 {
  min-width: 250px;
  padding: 10px;
}

.memoAdd-input,
.memoAdd-textarea {
  width: 90%;
  border: none;
  padding: 15px;
  transition: background-color 0.3s;
  background-color: inherit;
  font-size: 1.5rem;
}

.memoAdd-textarea {
  height: 47px;
  overflow-y: hidden;
  resize: none;
}

.memoAdd-input:focus,
.memoAdd-textarea:focus {
  outline: none;
  background-color: #ddddddba;
  border-radius: 10px;
}
.flex-around-80 {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.fs-2rem {
  font-size: 2rem;
}

.fs-17rem {
  font-size: 1.7rem;
}

.fs-14rem {
  font-size: 1.4rem;
}

.margin-10-0-5-0 {
  margin: 10px 0 -5px 0;
}

.padRoomPw-p {
  display: flex;
  width: 80%;
  justify-content: space-between;
  max-width: 380px;
  min-width: 240px;
  flex-wrap: wrap;
}

.li-btn {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #687f7f;
  color: whitesmoke;
  border-width: 0;
  margin: 15px 3px;
  cursor: pointer;
}

.li {
  list-style: none;
  padding: 15px;
  width: 270px;
  border-radius: 15px;
  background-color: #76b1b16b;
  margin: 10px;
  position: relative;
}
.bgcolor-div {
  width: 340px;
  background-color: #f1f0f0;
  border-radius: 35px;
  padding: 5px;
}

.del-btn {
  position: absolute;
  top: -12px;
  right: 20px;
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: gray;
}

.del-btn:hover {
  background-color: rgb(239, 35, 35);
  color: black;
}

.add-btn {
  padding: 10px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  border-width: 0;
  background-color: coral;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  position: fixed;
  right: 30px;
  bottom: 45px;
  z-index: 9999;
}

.ul {
  padding: 0;
  margin: 20px 0;
}
.closeBtn {
  color: rgb(85, 85, 85);
  font-size: 1.3em;
  position: relative;
  right: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.color-area,
.color-area-clicked {
  height: 28px;
  border-radius: 16px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  width: 28px;
  cursor: pointer;
}
.ex-title {
  font-size: 1.3rem;
  margin: 10px;
}

.color-area-clicked {
  border: 3px solid #00000096;
}

.color-span {
  margin: 5px;
}

.date {
  position: relative;
  right: -30%;
  font-size: 0.9rem;
}

.memoAdd-span {
  font-size: 1.5rem;
  padding: 15px;
}

.section-title {
  font-size: 1.5rem;
  letter-spacing: 3px;
  background-color: #e6e6e6;
  width: 80%;
  border-radius: 30px;
  padding: 10px 0;
  height: 40px;
  text-align: center;
  max-width: 250px;
}

.select {
  padding: 10px;
  margin-top: -20px;
  border-radius: 10px;
  text-align: center;
}

.dropdown-li,
.dropdown-li-nonehover {
  margin: 5px;
}

.dropdown-li-nonehover {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  align-items: center;
}

.dropdown-li:hover {
  background-color: #dcb2a1f0;
  box-shadow: 1px 4px 0 #573020;
  border-radius: 10px;
}

.dropdown-li:active {
  background-color: #dcb2a1f0;
  position: relative;
  top: 2px;
}

.toggleSwitch {
  width: 60px;
  margin: 5px;
  height: 30px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgb(0 0 0 / 15%);
  cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #766764;
}

.active {
  background: #766764;
}

.active .toggleButton {
  left: calc(100% - 25px);
  background: #fff !important;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}

.previewImg {
  height: 70%;
  width: 90%;
  object-fit: cover;
  margin-bottom: 10px;
}

.explainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.2s;
  position: relative;
  opacity: 1;
}

.explainDivHide {
  transition: all 0.2s linear 0s;
  visibility: hidden;
  position: fixed;
  opacity: 0;
}
