.container {
  display: grid;
  padding: 10px 2px;

  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: repeat(8, 1fr);
  grid-gap: 10px;
  width: 85%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1818186b;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.input-div {
  display: flex;
  justify-content: center;

  width: 100%;
}

.input,
.time-input {
  width: 70%;
  text-align: center;
  padding: 5px;
}

.time-input {
  width: 60%;
  padding: 2px 5px;
}

.title-weekday {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.title-class-container {
  display: flex;
}

.title-class-div {
  line-height: 1.2;
  padding: 5px;
}

.title-class {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  justify-content: space-around;
}

.timeRange {
  font-size: 0.9rem;
}

@media screen and (min-width: 800px) {
  .timeRanges {
    display: flex;
    justify-content: center;
  }
}

.select-p-m {
  display: flex;
  width: 98%;
  align-items: center;
  justify-content: flex-end;
  margin: 5px 3px;
}

.select {
  width: 33%;
  margin: 10px;
  font-size: 1.1rem;
  max-width: 110px;
}
