:root {
  --groupColumns: 6; /* 원하는 초기값으로 설정 */
}

.div {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  /* background-color: #bbd5a9; */
  background-color: #e1e1e1;
}

.headBtns-div {
  height: auto;
  min-height: 16vh;
  display: grid;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: center;
  grid-template-columns: 2fr 3fr 2fr;
}

.points-div {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 13vh;
  margin-top: 25px;
}

.gr-div {
  margin: 3px 8px;
  padding: 22px 18px;
  border-radius: 15px;
  font-size: 20px;
  position: relative;
  transition: padding 0.5s ease-in-out, margin 0.5s ease-in-out,
    font-weight 0.2s ease-in-out;
}

.gr-div:hover {
  font-weight: bold;
  margin: 0px 4px;
  padding: 25px 13px;
}

.seats-div {
  display: grid;
  padding: 0 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: repeat(var(--rows), 1fr);
  grid-gap: 3px;
  width: 98vw;
  max-width: 1100px;
  height: auto;
  min-height: 65vh;
}

.seatsDiv-div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.xmark {
  font-size: 1.2em;
  top: 20px;
  position: absolute;
  right: 10px;
}

.title {
  font-size: 30px;
}

.title-sub {
  font-size: 15px;
}

.seat-li {
  margin: 5px;
  padding: 6px 18px;
  cursor: pointer;
  list-style: none;
  border-radius: 15px;
}

.seat-li:hover {
  background-color: lightgray;
}

.flex-cen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0 35px 0;
}

.seat-id {
  font-size: 15px;
}

.seat-title {
  margin-left: 15px;
  font-size: 20px;
}

.seat-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.item,
.empty-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  border-radius: 15px;
  padding: 10px 13px 10px 2px;
  margin: 10px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.5s linear, padding 0.5s ease-in-out,
    margin 0.5s ease-in-out, font-weight 0.2s ease-in-out;
  position: relative;
}

.item:hover {
  padding: 17px;
  margin: 3px;
  font-weight: bold;
}

.group-edit {
  font-size: 17px;
  margin: 10px;
  text-align: left;
}

.autoSave-expl {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -1px;
}

.plus,
.minus {
  filter: drop-shadow(3px 2px 1px rgba(46, 0, 0, 1));
  font-size: 20px;
  padding: 5px;
  position: absolute;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: whitesmoke;
  cursor: pointer;
}
.std-point {
  position: absolute;
  bottom: 3%;
  right: 7%;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.std-rank,
.std-crown,
.gr-rank {
  position: absolute;
  top: -23%;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  align-items: center;
  filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, 0.5));
  left: 5%;
}

.gr-rank {
  left: 50%;
  font-size: 18px;
  top: -30%;
  filter: none;
}

.std-rank {
  top: -18%;
  left: 9%;
  filter: none;
}

.minus {
  color: rgb(58, 103, 174);
  top: -10%;
  left: 6%;
}

.plus {
  color: rgb(241, 88, 0);
  top: -10%;
  right: 6%;
}

.header-center {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.groupName-input {
  height: 35px;
  border-radius: 10px;
  margin: 15px 10px;
  font-size: 18px;
  padding: 7px 16px;
  width: 200px;
}

.newList-div {
  display: flex;
  justify-content: flex-start;
}

.points-group {
  padding: 30px;
  background-color: whitesmoke;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(var(--groupColumns), 1fr);
  margin-bottom: 30px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-div,
.menu-top-div {
  font-size: 18px;
  position: absolute;
  right: -35px;
  display: flex;
  flex-direction: column;
  width: 110px;
  align-items: center;
  background-color: #bebebee6;
  border-radius: 15px;
  padding: 7px 30px 7px 1px;
  top: 25vh;
  z-index: 5;
  left: auto;
}

.menu-top-div {
  top: -10px;
  right: auto;
  flex-direction: row;
  width: auto;
  padding: 15px 7px 7px;
  left: 30vw;
}

.listStyle-item {
  position: absolute;
  top: -15px;
  left: 2%;
  background-color: whitesmoke;
  padding: 4px 8px;
  border-radius: 15px;
}

.title-span {
  font-weight: 100;
  font-size: 15px;
  margin-right: 20px;
  vertical-align: text-top;
  margin-left: -40px;
}

.window {
  position: absolute;
  bottom: 120px;
  right: 20px;
  transform: translate(-50%, -50%);
  background-color: #00000054;
  padding: 18px 22px;
  z-index: 3;
  border-radius: 16px;
  color: white;
  font-size: 12px;
  text-align: center;
}
