.event-div {
  box-shadow: 3px 5px 0 #d6e9ea;
  padding: 10px;
  margin: 10px;
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.1em;
  border-radius: 10px;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.main-li {
  list-style: none;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1.2em;
}

.event-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.events-dateArea {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 85vw;
  align-items: center;
  margin: 0px;
  font-size: 1.5em;
}

.events-dateMove {
  color: #00000024;
  padding: 5px;
}

.events-today {
  padding: 5px 10px;
  border-width: 0 0 5px;
  color: rgba(18, 2, 0, 0.951);
  border-style: solid;
  border-color: rgb(241, 227, 145);
}

.ul-section {
  padding: 5px;
  margin: 5px;
  width: 95%;
}

.eventSave-div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.event-title-dropdown {
  padding: 10px 20px;
  color: #00000082;
}

.eventContent-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0ms, opacity 300ms;
  height: 0px;
}

.eventContent-show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.mainCheckLists-li {
  list-style: none;
  margin: 8px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.2em;
  align-items: flex-start;
  text-align: left;
}

.mainCheckLists-students {
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainCheckLists-student {
  margin-right: 15px;
  font-size: 0.9em;
}
