.class-select {
  font-size: 1.2rem;
  width: auto;
  margin: 10px 0 20px 0;
}

.btns-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.padd-5 {
  padding: 5px;
}

.bottom-content-ul {
  border-radius: 15px;
  background-color: #256a72;
  padding: 30px 10px;
  margin-top: 0px;
  min-height: 30vh;
  border-width: 0;
}

.bottom-content-li {
  list-style: none;
  padding: 10px;
  margin: 20px;
  background-color: #f3feff;
  border-radius: 20px;
}

.flex-ml-10 {
  display: flex;
  margin-left: 10px;
}

.fs-13 {
  font-size: 1.3rem;
  word-break: break-all;
}

.fs-11 {
  font-size: 1.1rem;
  word-break: break-all;
}

.flex-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.margin-15 {
  margin: 15px;
}
.margin-5 {
  margin: 5px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.width-max400 {
  width: 100%;
  max-width: 400px;
}

.a-link:link {
  color: rgb(39, 39, 39);
  text-decoration: none;
}
.a-link:visited {
  color: rgb(39, 39, 39);
  text-decoration: none;
}
.a-link:hover {
  color: rgb(39, 39, 39);
  text-decoration: none;
}

.excelfileUploadBtn {
  margin: 5px 10px;
  font-size: 0.8rem;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 2px;
  padding: 1.5vh;
  background-color: #f3feff;
  /* float: right; */
  align-items: center;
  display: flex;
}
