.class-select {
  font-size: 1.2rem;
  width: auto;
  margin: 10px 0 20px 0;
}

.btns-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.padd-5 {
  padding: 5px;
}

.bottom-content-ul {
  border-radius: 15px;
  background-color: #256a72;
  padding: 30px 10px;
  margin-top: -4px;
  min-height: 30vh;
  border-width: 0;
  z-index: 1;
  position: relative;
}

.bottom-content-li {
  list-style: none;
  padding: 10px;
  margin: 20px;
  background-color: #f3feff;
  border-radius: 20px;
}

.flex-ml-10 {
  display: flex;
  margin-left: 10px;
}

.fs-13 {
  font-size: 1.3rem;
  word-break: break-all;
}
.fs-15 {
  font-size: 1.5rem;
  color: whitesmoke;
}

.fs-11 {
  font-size: 1.1rem;
  word-break: break-all;
}

.clicked-title {
  margin: 5px 15px;
  max-width: 130px;
  min-width: 50px;
}

.search-title {
  border-radius: 15px;
  border-width: 0;
  background-color: #d0d0d0;
  margin: 5px 10px;
}

.search-btns {
  padding: 13px;
  margin: 0 5px;
  border-radius: 25px;
  border-width: 0;
  background-color: rgb(29 81 87);
  color: white;
  font-weight: bold;
}
.flex-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.margin-15 {
  margin: 15px;
}
.margin-5 {
  margin: 2px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.width-max400 {
  width: 100%;
  max-width: 400px;
}

.a-link:link {
  color: rgb(39, 39, 39);
  text-decoration: none;
}
.a-link:visited {
  color: rgb(39, 39, 39);
  text-decoration: none;
}
.a-link:hover {
  color: rgb(39, 39, 39);
  text-decoration: none;
}

.excelfileUploadBtn {
  margin: 5px 10px;
  font-size: 0.8rem;
  border-radius: 10px;
  border-width: 0;
  letter-spacing: 2px;
  padding: 1.5vh;
  background-color: #f3feff;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 800px) {
  .excelfileUploadBtn {
    font-size: 1.1rem;
    width: 135px;
  }
}

.list-clicked {
  background-color: #e9cfcc;
}
