.eventData,
.holidayData {
  width: 94%;
  font-size: 0.5em;
  background-color: #56423cd9;
  color: azure;
  border-radius: 10px;
  border-width: 0;
  padding: 3px;
  margin: 2px;
  white-space: pre-line;
}

.showOptionCal {
  display: none;
  font-size: 0.7rem;
  margin: 0 3px;
}

@media screen and (min-width: 1200px) {
  .showOptionCal {
    display: inline-block;
  }
}

.eventData {
  letter-spacing: -0.7px;
}

.holidayData {
  background-color: #dd3300d9;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.7em;
}

h2 {
  margin: 5px 5px 10px 2px;
  font-size: 1.3em;
}

select {
  padding: 10px 0px;
  border-radius: 5px;
  width: 40%;
  line-height: 1.5;
  text-align: center;
}

.todoExplain-p {
  margin: 15px;
  word-break: keep-all;
  font-size: 1.2rem;
}

@media screen and (min-width: 620px) {
  .eventData,
  .holidayData {
    font-size: 0.7em;
    letter-spacing: 1px;
  }
}

.class-select {
  width: 130px;
  height: 60px;
  font-size: 1.3rem;
  margin: 10px;
}

.classSelect-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}

.classSelect-title {
  grid-column: 2/3;
}

/* 외부강사 */
.op1 {
  background-color: #811a2a;
}
/* 자체행사 */
.op2 {
  background-color: #2a4353;
}
/* 교사일정 */
.op3 {
  background-color: #e9cfccd6;
  color: black;
  font-weight: bold;
}

.todoOption {
  width: 30px;
  height: 12px;
  display: inline-block;
  border-radius: 7px;
}

.todo-option-btns,
.todo-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  height: 60px;
}

.todo-option-btns {
  background-color: #2a4353;
}

.todo-option-expl {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.memo-headerBtn {
  display: flex;
  flex-direction: column;
  padding: 7px;
  color: #000000bd;
  line-height: 1.5;
}
