.option,
.option-select {
  background-color: #b5dcc069;
  padding: 10px;
  font-size: 1rem;
  margin: 5px;
  width: 70px;
  height: 35px;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.option-select {
  background-color: #8fcca0;
  font-size: 1.2rem;
  letter-spacing: -2px;
}

.ul {
  flex-flow: row wrap;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0 0 15px 0;
}

@media screen and (min-width: 800px) {
  .option,
  .option-select {
    padding: 12px;
    font-size: 1.1rem;
    margin: 7px;
    width: 90px;
  }
  .option-select {
    font-size: 1.3rem;
    letter-spacing: -1px;
  }
}
