.li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 1.1em;
  text-align: left;
  margin-left: 20px;
}

.student-select {
  font-size: 1.1em;
}

.ul {
  padding: 10px;
}

.sortBtnArea {
  display: flex;
  margin: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
