.option {
  background-color: #b5dcc0b8;
  padding: 20px;
  font-size: 1.3em;
  margin: 10px;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "GowunDodum";
}

.option-select {
  background-color: #8fcca0;
  padding: 20px;
  font-size: 1.3em;
  margin: 10px;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.ul {
  flex-flow: row wrap;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 3px;
}
