.eventData {
  width: 94%;
  font-size: 0.5em;
  background-color: #56423c;
  color: azure;
  border-radius: 10px;
  font-family: "GowunDodum";
  border-width: 0;
  padding: 3px;
  margin: 2px;
  white-space: pre-line;
}
li {
  margin-top: -5px;
  list-style: none;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "GowunDodum";
}

h1 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  margin: 5px 5px 10px 15px;
}

select {
  padding: 10px 0px;
  border-radius: 5px;
  width: 40%;
  font-family: "GowunDodum";
  line-height: 1.5;
  text-align: center;
}

input {
  margin-left: 3%;
  border-radius: 5px;
  width: 80%;
  font-family: "GowunDodum";
}
