.notice-li {
  list-style: none;
  background-color: darkslategrey;
  color: whitesmoke;
  padding: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.notice-ul {
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.notice-title {
  font-size: 1.2rem;
}

.notice-text {
  margin: 10px 5px;
  font-size: 1rem;
  text-align: left;
  display: block;
}
