.listArea {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #a7c7a66c;
  padding: 20px;
}

.nameArea {
  display: flex;
  margin: 10px 0px;
  text-align: left;
  font-size: 1.1em;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.fileArea {
  margin: 15px;
}

.noteArea {
  margin: 15px;
  display: flex;
  align-items: center;
}

.nameSpan {
  margin-left: 20px;
}

.nameIcon {
  color: #a3b418d4;
  font-size: 1.3em;
}

.editDeleteArea {
  display: flex;
  justify-content: flex-end;
}

.input {
  margin-left: 3%;
  margin-bottom: 3%;
  height: 30px;
  padding: 10px;
  font-size: 1em;
  overflow-y: hidden;
  resize: none;
}

.selectArea {
  padding: 10px 0px;
  border-radius: 5px;
  width: 50%;
  line-height: 1.5;
  text-align: center;
}

.editFileArea {
  display: flex;
  align-items: flex-start;
}
.consultDate {
  margin-left: 15px;
}
.noteTextArea {
  text-align: left;
}

.sortBtnArea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -10px;
}

.select-area {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.student-select {
  width: 100px;
  font-size: 0.9em;
}
