.div {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  max-width: 85vw;
  margin: 20px;
  align-items: center;
}

.results {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.animate {
  animation: shake 0.2s linear 6;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prize-btn,
.optionDone-btn,
.playBtn-disabled,
.playBtn {
  margin: 5px;
  background-color: #105761;
  width: auto;
  height: auto;
  padding: 15px;
  font-size: 1.3rem;
  border-radius: 25px;
  color: whitesmoke;
  border-width: 0;
}

.prize-btn {
  position: relative;
  margin: 10px 25px;
  background-color: #dc89a7;
  color: black;
  border-radius: 40px;
  cursor: default;
}

.addBtn,
.delBtn {
  position: absolute;
  width: 7px;
  top: -20px;
  height: 7px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  padding: 15px;
  font-size: 25px;
  border-radius: 25px;
  color: whitesmoke;
  border-width: 0;
  background-color: #105761;
  cursor: pointer;
}

.addBtn {
  left: -13px;
}

.delBtn {
  right: -13px;
}

.addBtn:hover,
.delBtn:hover {
  background-color: #007a77;
}

.optionDone-btn {
  margin: 40px;
  font-size: 1.7rem;
  width: 80%;
  max-width: 800px;
  padding: 20px;
}

.flex {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-around;
}

.input,
.num-input {
  border-radius: 10px;
  text-align: center;
}

.input {
  padding: 15px;
  font-size: 1.5rem;
}

.num-input {
  padding: 15px;
  font-size: 2.5rem;
}

.fs15,
.fs15-w40,
.fs15-w60 {
  font-size: 1.5rem;
}

.fs15-w40 {
  width: 40%;
  max-width: 350px;
}

.fs15-w60 {
  width: 60%;
}

.playBtn-disabled {
  background-color: rgb(192, 192, 192);
}

.resultStd,
.resultPrize {
  padding: 20px;
  border-radius: 20px;
  border-width: 0;
  background-color: #f2f2f2;
  margin: 15px;
}

.resultStd {
  width: 35%;
  max-width: 385px;
}

.resultPrize {
  width: 65%;
}

.stdsDiv {
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 10px 0;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.capture {
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: #585858;
}

.capture:hover {
  color: #105761;
}

@media screen and (max-width: 700px) {
  .resultStd,
  .resultPrize {
    width: 70vw;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.way-div,
.db-item {
  width: 80%;
  height: 40vh;
  background-color: #105761;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: whitesmoke;
}

.way-name {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.ways-div2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media screen and (max-width: 800px) {
  .ways-div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
